body{
    margin: 0;
    padding: 0;
    width: 1300px;
    height: 700px;
    
}

#header{
    margin: 0;
    padding: 0;
    width: 1300px;
    height:100px;
    background-color: rgba(238, 197, 144, 0.918);
}
.head-1{
    width: 100px;
    height: 100px;
    float: left;
    /* 通过浮动使一行的大块分成几列的小块 */
}
.head-2{
    margin-top: 15px;
    margin-left: 50px;
    width: 1000px;
    height: 80px;
    float: left;
}
.logo{
    width: 100px;
    height: 100px;
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:white;
}
.cont-0{
    margin-left: 100px;
    width: 1200px;
    height: 600px;
}
.cont-1{
    margin-top: 10px;
    width: 1200px;
    height: 100px;
}
.cont-2{
    margin-top: 10px;
    width: 1200px;
    height: 200px;
}
.cont-3{
    margin-top: 10px;
    width: 1200px;
    height: 230px;
}
.cont-4{
    margin-top: 10px;
    width: 1200px;
    height: 100px;
}
.table-1{
    width: 1200px;
    height: 100px;
    border: 3px solid #fff7cc;
    /* 表格框线 */
}
.table-2{
    width: 1200px;
    height: 200px;
    border: 3px solid #fff7cc;
}
.table-3{
    width: 1200px;
    height: 200px;
    border: 3px solid #fff7cc;
}
.table-4{
    width: 1200px;
    height: 60px;
    border: 3px solid #fff7cc;
}
.ques-1{
    font-family: verdana;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(238, 197, 144, 0.5);
    text-align: left;
    padding: 6px 10px;
    line-height: 120%;
    color: #1d2d45;
    border-collapse: collapse;
    /* 表格框线 */
    border-spacing: 0;
    width: 1130px;
    height: px;
}
.ques-1-1{
    color: red;
    font-size: 10px;
    font-family: verdana;
    margin-right: 5px;
    font-weight: bold;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 120%;
    width: 6.40001px;
    height: 11.2px;
}
.ques-1-2{
    display: none;
    font-family: verdana;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 120%;
    color: #1d2d45;
}

.sleft{
    padding: 11px 24px 16px 37px;
    text-align: left;
    font-size: 15px;
    line-height: 120%;
    /* 行间距 */
    color: #1d2d45;
}
.box{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 1em;
    text-align: left;
    font-size: 15px;
    line-height: 120%;
    color: #1d2d45;
    width: 1000px;
    height: 108.8px;
}
.ques-2{
    font-family: verdana;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(238, 197, 144, 0.5);
    text-align: left;
    padding: 6px 10px;
    line-height: 120%;
    color: #1d2d45;
    border-collapse: collapse;
    border-spacing: 0;
    width: 1000px;
    height: 15.6px;
}
.ques-2-1{
    display: none;
    font-family: verdana;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 120%;
    color: #1d2d45;
}

.submint-buttons{
    text-align: center;
    width: 100%;
    background-color: rgba(238, 197, 144, 0.5);
    padding: 0;
    border-spacing: 0;
    border-collapse: separate;
    font-size: 12px;
    line-height: 120%;
    color: #1d2d45;
    width: 1200px;
    height: 30.65px;
}
button{
    display: inline-block;
    position: relative;
    padding: 0;
    margin-right: .1em;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    overflow: visible;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;border: 1px solid #eadfae75;
    background-color: rgba(238, 197, 144, 0.5);
    font-weight: bold;
    color: #0070a3;
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 1.1em;
    border-spacing: 0;
    border-collapse: separate;
    line-height: 120%;
    width: 52.8px;
    height: 29.05px;
}
.d-1{
    padding:5.28px 13.2px;
    display: block;
    line-height: 1.4;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    color: #0070a3;
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 6px;
    border-spacing: 0;
    border-collapse: separate;
    width: 26.4px;
    height: 18.49px;
}